.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.select-css {
  display: block;
  font-size: 16px;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.8em 0.5em 0.8em;
  min-width: 50%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position */
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%; }

.select-css::-ms-expand {
  display: none; }

/* Hover style */
.select-css:hover {
  border-color: #888; }

/* Focus style */
.select-css:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none; }

/* Set options to normal weight */
.select-css option {
  font-weight: normal; }

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em; }

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: graytext;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); }

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa; }

.not_configured {
  padding-left: 20px; }

.loading {
  margin-bottom: -4px;
  grid-area: loading;
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd; }
  .loading:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite; }

@keyframes loading {
  from {
    left: -200px;
    width: 30%; }
  50% {
    width: 30%; }
  70% {
    width: 70%; }
  80% {
    left: 50%; }
  95% {
    left: 120%; }
  to {
    left: 100%; } }
body {
  margin: 0;
  min-height: 100vh;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgba(0, 0, 0, 0.1); }

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto; }

header {
  background-image: linear-gradient(-90deg, #0de1ec 0, #200c9c 30%, #4a0082 70%, #dd0890 100%);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  header h1 {
    margin: 0;
    padding: 4px 0 4px 0;
    color: white;
    letter-spacing: 3px; }

.burger {
  position: absolute;
  top: calc(10vh/2 - 8px);
  right: 50px;
  width: 45px;
  height: 20px;
  padding-top: 8px; }
  .burger span {
    background: white;
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    letter-spacing: 3px; }
  .burger span:before {
    background: white;
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    display: block; }
  .burger span:after {
    background: white;
    width: 60%;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block; }

main {
  min-height: 80vh;
  overflow: hidden; }

footer {
  min-height: 10vh;
  background: black;
  color: white; }

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  right: -100vw;
  left: 100vw;
  min-height: 100vh;
  transition: all 0.5s;
  background: indigo;
  color: white;
  padding: 100px 0 50px 0; }
  nav a {
    text-decoration: none;
    color: white; }
  nav span {
    display: inline-block;
    font-size: 28px;
    max-width: 80%;
    padding-left: 40px; }
  nav li {
    list-style-type: none;
    border-bottom: white 2px solid;
    font-size: 18px;
    padding: 20px 0;
    width: calc(100% - 40px); }
  nav i {
    padding: 8px;
    z-index: 11;
    position: fixed;
    top: 10px;
    right: calc(-100vw + 54px);
    transition: all 0.5s; }
  nav .material-icons {
    font-size: 42px; }

.nav_active {
  left: 0;
  right: 0; }
  .nav_active i {
    right: 54px; }

menu {
  padding: 0;
  background: snow-white;
  margin: 0 0 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  font-size: 3rem;
  overflow: hidden;
  padding: 0 5px; }
  menu .box {
    padding: 18px 10px;
    border-right: solid 1px black;
    height: 100%;
    width: 100%; }
    menu .box a {
      text-decoration: none;
      color: black;
      font-size: initial; }

.transit {
  padding-bottom: 10px;
  display: grid;
  grid-template-areas: "loading"; }
  .transit section {
    padding: 8px; }
    .transit section .inner {
      display: grid;
      grid-template-columns: 70px auto 60px 60px;
      grid-template-rows: auto 0 0 0 0 0 0;
      overflow: hidden;
      margin-top: 10px;
      background: white;
      padding: 5px;
      border-radius: 3px;
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.34);
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.34); }
      .transit section .inner h4 {
        padding-right: 4px; }
      .transit section .inner * {
        display: inline-block;
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto; }
    .transit section .inner h4:first-of-type {
      font-size: 1.17em;
      padding-left: 4px; }

.settings {
  padding: 0 8px 0 8px;
  width: 100%; }

.divider {
  width: 60%;
  height: 2px;
  background: black;
  margin-top: -20px; }
